/* light */

.inputfield_light {
  margin: 10px 0px 10px;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  background-color: #f5f1f1;
  margin: 1%;
}

.input_label_light {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.inputForm {
  border: 1px solid black;
  margin: 2px auto;

}
